.tile_wrapper {
    display: flex;
    height: 100px;
    width: 100%;
    min-width: 320px;
    cursor: pointer;
    background-color: rgba(68, 68, 68, 0.85);
    border-radius: 10px;
}

.tile_container {
    flex-shrink: 0;
    width: 100px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    box-shadow: 25px 0 25px -25px rgba(0, 0, 0, 0.8);
}

.tile_wrapper:hover {
    box-shadow: inset 100vmax 100vmax rgba(255, 255, 255, 0.20);
}

.image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.label {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    word-break: break-word;
}