.tile_wrapper {
    cursor: pointer;
    --color-without-type: rgb(13, 49, 232);
    --color-podcast: rgb(39, 133, 106);
    --color-rock: rgb(133, 53, 39);
    --color-liked: rgb(73, 39, 133);
    --color-phonk: rgb(133, 39, 95);
    --color-metal: rgb(68, 67, 62);
    --color-classic: rgb(13, 148, 232);
    --color-new: rgb(20, 232, 13);
    --color-radio: rgb(232, 215, 13);
}

.tile_container:hover {
    box-shadow: inset 100vmax 100vmax rgba(255, 255, 255, 0.20);
}

.tile_container {
    min-width: 150px;
    position: relative;
    border-radius: 10px;
}

.tile_container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.without_type {
    background-color: var(--color-without-type);
}

.label {
    position: absolute;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    word-break: break-word;
}

.podcast {
    background-color: var(--color-podcast);
}

.rock {
    background-color: var(--color-rock);
}

.liked {
    background-color: var(--color-liked);
}

.phonk {
    background-color: var(--color-phonk);
}

.metal {
    background-color: var(--color-metal);
}

.classic {
    background-color: var(--color-classic);
}

.new {
    background-color: var(--color-new);
}

.radio {
    background-color: var(--color-radio);
}